<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vicloud.board.dao.BoardMapper">

	<resultMap id="broadcastMap" 		type="com.vicloud.model.Tbroadcast">
        <id     property="idx"    		column="idx" />
        <result property="category"		column="category" />
        <result property="genre"		column="genre" />
        <result property="title"		column="title" />
        <result property="grade"		column="grade" />
        <result property="filename"		column="filename" />
        <result property="file_url"	  	column="file_url" />
        <result property="sub_url"	  	column="sub_url" />
        <result property="insert_date"	column="insert_date" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
        <result property="hit"			column="hit" />
    </resultMap>
	
    <resultMap id="boardMap" 			type="com.vicloud.model.Tboard">
        <id     property="idx"    		column="idx" />
        <result property="title"		column="title" />
        <result property="author"		column="author" />
        <result property="content"  	column="content" />
        <result property="hit"			column="hit" />
        <result property="insert_date"	column="insert_date" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
        <result property="insert_id"	column="insert_id" />
        <result property="modify_date"	column="modify_date" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
    </resultMap>
    
    <resultMap id="board_commentMap" 	type="com.vicloud.model.Tboard_comment">
        <id     property="idx"    		column="idx" />
        <result property="seq"			column="seq" />
        <result property="comment"  	column="comment" />
        <result property="author"		column="author" />
        <result property="insert_id"	column="insert_id" />
        <result property="insert_date"	column="insert_date" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
        <result property="modify_date"	column="modify_date" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
        <result property="idx_no"		column="idx_no" />
        <result property="seq_re"		column="seq_re" />
        <result property="seq_no"		column="seq_no" />
        <result property="gap"			column="gap" />
    </resultMap>
    
    <select id="broadcastList" resultMap="broadcastMap">
    	SELECT STEP_TWO.*                                                             
		  FROM( SELECT STEP_ONE.*                                                           
				  FROM( SELECT @ROWNUM:=@ROWNUM+1 AS RNUM,                                                  
				               XA.*                                                                              
				          FROM( SELECT (SELECT COUNT(*) FROM TBROADCAST) AS TOTAL_COUNT,
				                       IDX,
				                       CATEGORY,
				                       GENRE,
				                       TITLE,
				                       GRADE,
				                       FILENAME,
				                       FILE_URL,
				                       SUB_URL,
				                       INSERT_DATE,
				                       HIT
				                  FROM TBROADCAST
				                 WHERE 1=1
				              ORDER BY INSERT_DATE DESC
				              ) XA,
				                (SELECT @ROWNUM:=0) TMP
				         WHERE 1=1
				      ORDER BY XA.IDX DESC
				       ) STEP_ONE                                                              
				 WHERE STEP_ONE.RNUM &lt;= #{param1} + 9                                                  
			   ) STEP_TWO                                                                  
		 WHERE STEP_TWO.RNUM &gt;= #{param1}                                                    
      ORDER BY RNUM    
    </select>
    
    <select id="totalBroadcast" resultType="Integer">
    	SELECT COUNT(*)
    	  FROM TBROADCAST
    	 WHERE 1=1
    </select>
    
    <select id="broadcastDetail" resultMap="broadcastMap">
        SELECT * 
          FROM TBROADCAST 
         WHERE idx = #{idx}
    </select>

    <select id="getSelectBroadcast" resultMap="broadcastMap">
        SELECT * 
          FROM TBROADCAST
         WHERE idx = #{idx}
    </select>
    
    <insert id="insertBroadcast">
         INSERT INTO TBROADCAST ( category, genre, title, grade, filename, file_url, sub_url ) VALUES (
                #{category}
              , #{genre}
              , #{title}
              , #{grade}
              , #{filename}
              , #{file_url}
              , #{sub_url}
         )
    </insert>
    
    <update id="updateBroadcast">
         UPDATE TBROADCAST SET
              category 	= #{category},
              genre 	= #{genre},
              title 	= #{title},
              filename 	= #{filename},
              url 		= #{url},
              modify_date = SYSDATE()
         WHERE idx = #{idx} LIMIT 1
    </update>
    
    <select id="boardList" resultMap="boardMap">
        SELECT * FROM TBOARD 
    </select>

    <select id="selectOne" resultMap="boardMap">
        SELECT * FROM TBOARD WHERE idx = #{idx}
    </select>

    <insert id="insertBoard">
         INSERT INTO TBOARD ( title, author, content ) VALUES (
                #{title}
              , #{author}
              , #{content}
         )
    </insert>

    <update id="updateBoard">
         UPDATE TBOARD SET
              title = #{title},
              content = #{content},
              modify_date = SYSDATE()
         WHERE idx = #{idx} LIMIT 1
    </update>

    <delete id="deleteBoard">
         DELETE FROM TBOARD WHERE idx = #{idx}
    </delete>

	<select id="boardCommentList" resultMap="board_commentMap">
		SELECT * 
		  FROM TBOARD_COMMENT 
		 WHERE idx = #{idx}
      ORDER BY seq_no
	</select>
	
	<select id="maxSeqNo" resultType="Integer">
		SELECT MAX(SEQ_NO) 
		  FROM TBOARD_COMMENT 
		 WHERE idx = #{idx}
	</select>

	<select id="maxIdxNo" resultType="Integer">
		SELECT MAX(IDX_NO) 
		  FROM TBOARD_COMMENT 
		 WHERE idx = #{idx}
	</select>

	<select id="maxSeqReNo" resultType="Integer">
		SELECT MAX(SEQ_NO) 
		  FROM TBOARD_COMMENT 
		 WHERE idx = #{param1}
		   AND idx_no = #{param2} 
		   AND seq_re &gt;= #{param3}
		   AND gap &gt; #{param4}
	</select>
	
	<update id="updateSeqNo">
		UPDATE TBOARD_COMMENT
		   SET seq_no = seq_no + 1
		 WHERE idx = #{param1}
		   AND seq_no &gt; #{param2}
	</update>

	<insert id="insertBoardComment">
		INSERT INTO TBOARD_COMMENT (idx, comment, author, insert_id, idx_no, seq_re, seq_no, gap) VALUES (
				#{idx},
				#{comment},
				#{author},
				#{insert_id},
				#{idx_no},
				#{seq_re},
				#{seq_no},
				#{gap}
		)
	</insert>
	
	<delete id="deleteBoardComment">
		DELETE 
		  FROM TBOARD_COMMENT
		 WHERE seq = #{param1}
		   AND insert_id = #{param2} 
	</delete>

	<delete id="deleteBoardReComment">
		DELETE 
		  FROM TBOARD_COMMENT
		 WHERE idx = #{param1}
		   AND idx_no = #{param2}
		   AND seq_re &gt;= #{param3}
		   and gap &gt; #{param4} 
	</delete>
</mapper>